<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

<div class="container">
		<h2>게시글 목록..</h2>
		<div>
			<button id='btnWrite'>글쓰기</button>
		</div>
		<table class="board_list">
			<colgroup>
				<col width="15%"/>
				<col width="*"/>
				<col width="15%"/>
				<col width="25%"/>
				<col width="*"/>
			</colgroup>
			<thead>
				<tr>
					<th scope="col">글번호</th>
					<th scope="col">제목</th>
					<th scope="col">조회수</th>
					<th scope="col">작성자</th>
					<th scope="col">작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${boardList.size()} > 0" th:each="list : ${boardList}">
					<td th:text="${list.id}"></td>
<!-- 					<td><a th:text="${list.title}" th:href="@{/detail(id=${list.id})}"></a></td> -->
					<td><a th:text="${list.title}" th:href="@{|board/detail/${list.id}|}"></a></td>
					<td th:text="${list.cnt}"></td>
					<td th:text="${list.regid}"></td>
					<td th:text="${#dates.format(list.regdt,'yyyy-MM-dd')}"></td>
				</tr>
<!-- 				<tr th:unless="${lists.size(list)} > 0"> -->
<!-- 					<td colspan="4">조회된 결과가 없습니다.</td> -->
<!-- 				</tr> -->
			</tbody>
		</table>

	</div>



<script src="http://code.jquery.com/jquery-latest.js"></script> <!--  실행순서에 의해 먼저 추가해야한다. -->
<script th:inline="javascript" th:src="@{/board/board-list.js}"></script>
</body>
</html>